* {
    padding: 0;
    margin: 0;
}

.navigationBar {
    background-color: #000;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: left;
    z-index: 3;
}

.navigationBar a {
    color: white;
    padding: 12px 20px;
    font-size: 18px;
    font-family: "Poppins";
    text-decoration: none; /* Remove o sublinhado */
    display: inline-block;
}

.navigationBar a:after{
    display: block;
    content: '';
    border-bottom: solid 3px #ffffff;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transition: transform 200ms ease-in-out;
    -webkit-transition: transform 200ms ease-in-out;
    -moz-transition: transform 200ms ease-in-out;
    -ms-transition: transform 200ms ease-in-out;
    -o-transition: transform 200ms ease-in-out;
}

.navigationBar a:hover:after{
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}

.navigationBar a img {
    vertical-align: middle;
}

body {
    background-color: #000000;
}