* {
    padding: 0;
    margin: 0;
}

.navigationBar {
    background-color: #000;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: left;
    z-index: 3;
}

.navigationBar a {
    color: white;
    padding: 12px 20px;
    font-size: 18px;
    font-family: "Poppins";
    text-decoration: none; /* Remove o sublinhado */
    display: inline-block;
}

.navigationBar a:after{
    display: block;
    content: '';
    border-bottom: solid 3px #ffffff;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transition: transform 200ms ease-in-out;
    -webkit-transition: transform 200ms ease-in-out;
    -moz-transition: transform 200ms ease-in-out;
    -ms-transition: transform 200ms ease-in-out;
    -o-transition: transform 200ms ease-in-out;
}

.navigationBar a:hover:after{
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}

.navigationBar a img {
    vertical-align: middle;
}

body {
    z-index: 1;
    position: relative;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1) 50%), url("images/background.png");
    background-position: center;
}

.mainBody {
    display: flex;
    position: relative;
    justify-content: center;
    font-family: "Poppins";
    z-index: 1;
    overflow: hidden;
}

.mainBody .fadingLogo {
    opacity: 100%;
    mask-image: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, transparent 35%);
    object-fit: contain;
    overflow: hidden;
    transform: scale(1.8) translateY(20%);
    -webkit-transform: scale(1.8) translateY(20%);
    -moz-transform: scale(1.8) translateY(20%);
    -ms-transform: scale(1.8) translateY(20%);
    -o-transform: scale(1.8) translateY(20%);
}

.mainBody .logoCenter {
    position: absolute;
    align-self: center;
    margin-top: -35%;
    height: 70%;
    width:  70%;
}

.mainBody .logoMoto {
    position: absolute;
    align-self: center;
    margin-top: -28%;
    font-size: 22px;
    color: white;
 
}

.mainBody .logoMoto, .mainBody .logoCenter {
    animation: fadeIn-Up 2s forwards;
    -webkit-animation: fadeIn-Up 2s forwards;
}

.mainBody .tmp{
    position: absolute;
    align-self: center;
    margin-top: -15%;
    text-align: center;
    animation: fadeIn-Up 2s forwards;
    animation-delay: 5s;
    font-family: "Poppins", serif;
    font-weight: 900;
    font-size: 30px;
    color: white;
    opacity: 0;
    -webkit-animation: fadeIn-Up 2s forwards;
    -webkit-animation-delay: 2s;
}

@keyframes fadeIn-Up {
    0% { opacity: 0; margin-top: 1%; }
    100% { opacity: 1}
}
